data/raw
data/processed/
*.json
*.csv

*.duckdb
*.duckdb.wal

__pycache__/
*.pyc
.venv/
venv/

.cache/
.env/

collectors/
nlp/
analysis/
flows/
validation/
api/
requirements.txt

.git/
.gitignore

.vscode/
.cursore/
.idea/

logs/
*.logs
